.slideshow-container {
  position: relative;
  width: 100%;
  overflow: hidden;

}

.slideshow-wrapper {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  box-sizing: border-box;


}

.slide img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* Nút điều hướng */
.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.dot-container {
  position: absolute;
  bottom: 10px;
  /* Đưa vào trong ảnh */
  left: 50%;
  transform: translateX(-50%);

  /* Nền mờ để dễ nhìn */

  border-radius: 20px;
}

.dot {
  height: 12px;
  width: 12px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.3s;

}

.dot.active {
  background-color: #fff;
}

/* Thêm media query để điều chỉnh kích thước cho các màn hình nhỏ hơn */
@media (max-width: 768px) {
  .slide img {
    height: 300px;
    /* Giảm chiều cao cho các màn hình nhỏ */
  }
}