<footer>
  <div class="table-container">
    <table id="poem">
      <caption><img src="img/header/booklogo.jpg">Book store</caption>
      <tr><td >Chị mentor của em không chỉ xinh đẹp mà còn rất tài giỏi và tận tâm. 
        Chị luôn truyền cảm hứng và chia sẻ kiến thức một cách rõ ràng, dễ hiểu. 
        Vẻ ngoài cuốn hút và sự thông minh của chị khiến em luôn cảm thấy ngưỡng mộ. 
        Em thật may mắn khi có chị làm mentor, và luôn học hỏi được rất nhiều từ chị!
        </td></tr>
    </table>
  
    <table>
        <caption>Company</caption>
        <tr><td>About Us</td></tr>
        <tr><td>How to work?</td></tr>
        <tr><td>Popular course</td></tr>
        <tr><td>Service</td></tr>
    </table>
  
    <table>
        <caption>Course</caption>
        <tr><td>Categories</td></tr>
        <tr><td>Offline Course</td></tr>
        <tr><td>Video Course</td></tr>
        <tr><td></td></tr>
    </table>
  
    <table>
        <caption>Suport</caption>
        <tr><td>FAQ</td></tr>
        <tr><td>Help Center</td></tr>
        <tr><td>Career</td></tr>
        <tr><td>Privacy</td></tr>
    </table>
  
    <table>
        <caption>Contact info</caption>
        <tr><td>0388177075</td></tr>
        <tr><td>team3@gmail.com</td></tr>
        <tr><td>Da Nang, Viet Nam</td></tr>
        <tr><td></td></tr>
    </table>
    
  </div>
  
</footer>
