<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer với Hiệu ứng Hover</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

<footer>
    <div class="table-container">
        <table id="poem">
            <caption><img src="img/header/Group328.png"></caption>
            <tr>
                <td>
                    Chị mentor của em không chỉ xinh đẹp mà còn rất tài giỏi và tận tâm. 
                    Chị luôn truyền cảm hứng và chia sẻ kiến thức một cách rõ ràng, dễ hiểu. 
                    Vẻ ngoài cuốn hút và sự thông minh của chị khiến em luôn cảm thấy ngưỡng mộ. 
                    Em thật may mắn khi có chị làm mentor, và luôn học hỏi được rất nhiều từ chị!
                </td>
            </tr>
        </table>

        <table>
            <caption>Company</caption>
            <tr><td><span class="company">About Us</span></td></tr>
            <tr><td><span class="company">How to work?</span></td></tr>
            <tr><td><span class="company">Popular course</span></td></tr>
            <tr><td><span class="company">Service</span></td></tr>
        </table>

        <table>
            <caption>Course</caption>
            <tr><td><span class="course">Categories</span></td></tr>
            <tr><td><span class="course">Offline Course</span></td></tr>
            <tr><td><span class="course">Video Course</span></td></tr>
        </table>

        <table>
            <caption>Support</caption>
            <tr><td><span class="support">FAQ</span></td></tr>
            <tr><td><span class="support">Help Center</span></td></tr>
            <tr><td><span class="support">Career</span></td></tr>
            <tr><td><span class="support">Privacy</span></td></tr>
        </table>

        <table id="contact-info">
            <caption>Contact Info</caption>
            <tr><td class="contact-item">📞 0388177075</td></tr>
            <tr><td class="contact-item">📧 team3@gmail.com</td></tr>
            <tr><td class="contact-item">📍 Da Nang, Viet Nam</td></tr>
          </table>


    </div>
    
    <div class="line">
        <p>BookStore All Right Reserved, 2022</p>
    </div>
</footer>

</body>
</html>
