<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/section1.css">

</head>
<body>
    <div class="container">
        <div class="purple-section">
            <div class="aim-course">
                <div class="purple-card">
                    <img src="../img/section1/section1-logo.jpg" alt="Skill Icon">
                    <div class="card-content">
                        <h4>Learn The Latest Skills</h4>
                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a BC, making it over 2000 years old.
                        </p>
                    </div>
                </div>
                <div class="purple-card">
                    <img src="../img/section1/section1-logo.jpg" alt="Career Icon">
                    <div class="card-content">
                        <h4>Get Ready For a Career</h4>
                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a BC, making it over 2000 years old.
                        </p>
                    </div>
                </div>
                <div class="purple-card">
                    <img src="../img/section1/section1-logo.jpg" alt="Certificate Icon">
                    <div class="card-content">
                        <h4>Earn a Certificate</h4>
                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a BC, making it over 2000 years old.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="tracks-section">
            <h2>Our Tracks</h2>
            <p>Lorem Ipsum is simply dummy text of the printing.</p>
            <!-- <br> -->
        </div>
        <div class="wrapper-card">
        <div class="course-container">
            <!-- <div class="wrapper-card"> -->
            <div class="course-card">
                <img src="../img/section1/section1-logo.jpg" alt="Course Image" class="course-image">
                <div class="course-content">
                    <div class="course-header">
                        <p class="course-category">UI/UX Design</p>
                        <span class="course-star">★★★★☆</span>
                    </div>
                    <h3 class="course-title">UI/UX Design for Beginners</h3>
                    <p class="course-price">$98</p><hr>
                    <div class="course-info">
                        <span>22hr 30min</span>
                        <span>34 Courses</span>
                        <span>250 Sales</span>
                    </div>
                    <button class="join-button">Join Course</button>
                </div>
            </div>
             <!-- </div> -->
            <div class="course-card">
                <img src="../img/section1/section1-logo.jpg" alt="Course Image" class="course-image">
                <div class="course-content">
                    <div class="course-header">
                        <p class="course-category">UI/UX Design</p>
                        <span class="course-star">★★★★☆</span>
                    </div>
                    <h3 class="course-title">UI/UX Design for Beginners</h3>
                    <p class="course-price">$98</p><hr>
                    <div class="course-info">
                        <span>22hr 30min</span>
                        <span>34 Courses</span>
                        <span>250 Sales</span>
                    </div>
                    <button class="join-button">Join Course</button>
                </div>
            </div>
            <div class="course-card">
                <img src="../img/section1/section1-logo.jpg" alt="Course Image" class="course-image">
                <div class="course-content">
                    <div class="course-header">
                        <p class="course-category">UI/UX Design</p>
                        <span class="course-star">★★★★☆</span>
                    </div>
                    <h3 class="course-title">UI/UX Design for Beginners</h3>
                    <p class="course-price">$98</p><hr>
                    <div class="course-info">
                        <span>22hr 30min</span>
                        <span>34 Courses</span>
                        <span>250 Sales</span>
                    </div>
                    <button class="join-button">Join Course</button>
                </div>
            </div> 
        </div> 
    </div>
</body>
</html>