<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/section1.css">

</head>
<body>
    <div class="container">
        <img src="/img/slide/sl2.jpg" alt="Your Image" class="top-image">
        <div class="purple-section">
            <div class="aim-course">
                <div class="purple-card">
                    <img src="/img/section1/t1.png" alt="Skill Icon">
                    <div class="card-content">
                        <h4>Learn The Latest Skills</h4>
                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a BC, making it over 2000 years old.
                        </p>
                    </div>
                </div>
                <div class="purple-card">
                    <img src="/img/section1/t2.png" alt="Career Icon">
                    <div class="card-content">
                        <h4>Get Ready For a Career</h4>
                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a BC, making it over 2000 years old.
                        </p>
                    </div>
                </div>
                <div class="purple-card">
                    <img src="/img/section1/t3.png" alt="Certificate Icon">
                    <div class="card-content">
                        <h4>Earn a Certificate</h4>
                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a BC, making it over 2000 years old.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="tracks-section">
            <img src="/img/section1/lamp.png" alt="lamp" class="lamp-icon">
            <div class="tracks-content">
                <h2>Our Tracks</h2>
                <p>Lorem Ipsum is simply dummy text of the printing.</p>
            </div>
            <img src="/img/section1/arrow.png" alt="arrow" class="arrow-icon">
        </div>
        <div class="wrapper-card">
        <div class="course-container">
            <!-- <div class="wrapper-card"> -->
            <div class="course-card">
                <img src="/img/section1/g1.png" alt="Course Image" class="course-image">
                <div class="course-content">
                    <div class="course-header">
                        <p class="course-category">UI/UX Design</p>
                        <span class="course-star">★★★★☆</span>
                    </div>
                    <h3 class="course-title">UI/UX Design for Beginners</h3>
                    <p class="course-price">$98</p><hr>
                    <div class="course-info">
                        <span>22hr 30min</span>
                        <span>34 Courses</span>
                        <span>250 Sales</span>
                    </div>
                    <button class="join-button">Join Course</button>
                </div>
            </div>
             <!-- </div> -->
            <div class="course-card">
                <img src="/img/section1/g2.png" alt="Course Image" class="course-image">
                <div class="course-content">
                    <div class="course-header">
                        <p class="course-category">UI/UX Design</p>
                        <span class="course-star">★★★★☆</span>
                    </div>
                    <h3 class="course-title">UI/UX Design for Beginners</h3>
                    <p class="course-price">$98</p><hr>
                    <div class="course-info">
                        <span>22hr 30min</span>
                        <span>34 Courses</span>
                        <span>250 Sales</span>
                    </div>
                    <button class="join-button">Join Course</button>
                </div>
            </div>
            <div class="course-card">
                <img src="/img/section1/g3.png" alt="Course Image" class="course-image">
                <div class="course-content">
                    <div class="course-header">
                        <p class="course-category">UI/UX Design</p>
                        <span class="course-star">★★★★☆</span>
                    </div>
                    <h3 class="course-title">UI/UX Design for Beginners</h3>
                    <p class="course-price">$98</p><hr>
                    <div class="course-info">
                        <span>22hr 30min</span>
                        <span>34 Courses</span>
                        <span>250 Sales</span>
                    </div>
                    <button class="join-button">Join Course</button>
                </div>
            </div>
        </div>
        <div class="background-container">
    <!-- Hình ảnh i2 nằm trên background -->
    <img src="/img/slide/i2.png" alt="Learning Illustration 2" class="foreground-image">

    <!-- Phần nội dung -->
    <div class="content">
        <h2>Premium <span>Learning</span> Experience</h2>
        <div class="features">
            <div class="feature">
                <img src="/img/slide/i3.png" alt="Icon">
                <div class="text">
                    <strong>Easily Accessible</strong>
                    <p>Learning Will Feel Very Comfortable With Courslab.</p>

                </div>
            </div>
            <div class="feature">
                <img src="/img/slide/i3.png" alt="Icon">
                <div class="text">
                    <strong>Fun learning experience</strong>
                    <p>Learning Will Feel Very Comfortable With Courslab.</p>
                </div>
            </div>
        </div>
    </div>
</div>


    </div>
</body>
</html>