<div class="part-1">
  <h1>What Student's Say</h1>
  <p class="title-discription">
    Lorem Ipsum is simply dummy text of the printing.
  </p>
  <div class="cards">
    <div class="card">
      <p class="card-content">
        "Teachings of the great explore of truth, the master-builder of human happiness. no one rejects,dislikes, or avoids pleasure itself, pleasure itself"
      </p>
      <div class="person">
        <img
          class="avatar"
          src="../img/section2/card-avatar-1.png"
          alt="Avatar"
        />
        <div class="text">
          <p class="person-name">Finlay Kirk</p>
          <p class="person-role">Web Developper</p>
        </div>
      </div>
    </div>

    <div class="card">
      <p class="card-content">
        "Teachings of the great explore of truth, the master-builder of human happiness. no one rejects,dislikes, or avoids pleasure itself, pleasure itself"
      </p>
      <div class="person">
        <img
          class="avatar"
          src="../img/section2/card-avatar-2.png"
          alt="Avatar"
        />
        <div class="text">
          <p class="person-name">Finlay Kirk</p>
          <p class="person-role">Web Developper</p>
        </div>
      </div>
    </div>
    <div class="card">
      <p class="card-content">
        "Teachings of the great explore of truth, the master-builder of human happiness. no one rejects,dislikes, or avoids pleasure itself, pleasure itself"
      </p>
      <div class="person">
        <img
          class="avatar"
          src="../img/section2/card-avatar-3.png"
          alt="Avatar"
        />
        <div class="text">
          <p class="person-name">Finlay Kirk</p>
          <p class="person-role">Web Developper</p>
        </div>
      </div>
    </div>
  </div>
  <div class="dots">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
  </div>
</div>
<div class="part-2">
  <div class="icon-container">
    <img src="../img/section2/Group.png" alt="Left Icon" class="track-icon left-icon" />
    <img src="../img/section2/gr2.png" alt="Right Icon" class="track-icon right-icon" />
  </div>
  <h1>Our Tracks</h1>
  <p class="title-discription">
    Lorem Ipsum is simply dummy text of the printing.
  </p>
  <div class="cards-1">
    <div class="card-1">
      <img src="../img/section2/t1.png" alt="Avatar" />

      <div class="card-1-header">
        <p class="card-1-person-name">Matthew E. McNatt</p>
        <p class="card-1-person-info">Professor @George Brown College</p>
      </div>

      <p class="card-1-content">
        content content content content contentProfessor @George Brown
        CollegeProfessssor @George Brown College
      </p>

      <div class="card-1-bottom">
        <p class="card-1-person-role">Architect & Engineer</p>
        <div>
          <a href="https://www.google.com/">
            <img src="../img/section2/card-1-social-1.png" />
          </a>
          <a href="https://www.google.com/">
            <img src="../img/section2/card-1-social-2.png" />
          </a>
        </div>
      </div>
    </div>

    <div class="card-1">
      <img src="../img/section2/t2.png" alt="Avatar" />

      <div class="card-1-header">
        <p class="card-1-person-name">Matthew E. McNatt</p>
        <p class="card-1-person-info">Professor @George Brown College</p>
      </div>

      <p class="card-1-content">
        content content content content contentProfessor @George Brown
        CollegeProfessssor @George Brown College
      </p>

      <div class="card-1-bottom">
        <p class="card-1-person-role">Architect & Engineer</p>
        <div>
          <a href="https://www.google.com/">
            <img src="../img/section2/card-1-social-1.png" />
          </a>
          <a href="https://www.google.com/">
            <img src="../img/section2/card-1-social-2.png" />
          </a>
        </div>
      </div>
    </div>
    <div class="card-1">
      <img src="../img/section2/t3.png" alt="Avatar" />

      <div class="card-1-header">
        <p class="card-1-person-name">Matthew E. McNatt</p>
        <p class="card-1-person-info">Professor @George Brown College</p>
      </div>

      <p class="card-1-content">
        content content content content contentProfessor @George Brown
        CollegeProfessssor @George Brown College
      </p>

      <div class="card-1-bottom">
        <p class="card-1-person-role">Architect & Engineer</p>
        <div>
          <a href="https://www.google.com/">
            <img src="../img/section2/card-1-social-1.png" />
          </a>
          <a href="https://www.google.com/">
            <img src="../img/section2/card-1-social-2.png" />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="subcribe-object">
  <img src="../img/section2/r1.png" alt="Background" />
  <div class="overlay">
    <h1>Subscribe to our newsletter</h1>
    <p>Lorem Ipsum is simply dummy text of the printing.</p>
    
  </div>
  <div class="subcribe-object-input">
    <input type="email" placeholder="Email Address" />
    <button class="subscribe-object-button-overlay">Send</button>
  </div>
</div>
